body {
	font-family: Arial, sans-serif;
	text-align: center;
	margin: 0;
	padding: 0;
}

header {
	padding: 50px;
	background-color: #f7f7f7;
}

.btn {
	padding: 10px 20px;
	background-color: #4caf50;
	color: white;
	text-decoration: none;
	border-radius: 5px;
}

ul {
	list-style-type: none;
	padding: 0;
}

li {
	margin: 10px 0;
}
